In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import pickle

In [6]:
df = pd.read_csv('.\\datasets\\sampled_data_Model_2.csv')

# Display the first few rows to check the data
print(df.head())

  Dissolved_Oxygen Temperature   pH
0               15          27  6.9
1             16.5        25.4    7
2              7.8        28.6  7.6
3               14          18  6.7
4             16.5        25.6    7

In [7]:
print(df.columns)

Index(['Dissolved_Oxygen', 'Temperature', 'pH'], dtype='object')

In [8]:
df1=df.drop([ 'Temperature'],axis='columns')
df1.head()

  Dissolved_Oxygen   pH
0               15  6.9
1             16.5    7
2              7.8  7.6
3               14  6.7
4             16.5    7

In [10]:
df3 = pd.read_csv('.\\datasets\\cleaned_output_data.csv')

# Display the first few rows to check the data
print(df3.head())

   Dissolved_Oxygen  Temperature   pH  \
0               4.4         22.9  7.5
1               4.4         22.9  7.5
2               4.4         22.9  7.5
3               4.4         22.9  7.5
4               8.0         10.0  7.0

                                    Plant_Type
0  Tropical, Neutral Lake with Moderate Oxygen
1  Tropical, Neutral Lake with Moderate Oxygen
2  Tropical, Neutral Lake with Moderate Oxygen
3  Tropical, Neutral Lake with Moderate Oxygen
4        Cool, Neutral Stream with High Oxygen

In [12]:
df4=df3.drop([ 'Temperature','Plant_Type'],axis='columns')
df4.head()

   Dissolved_Oxygen   pH
0               4.4  7.5
1               4.4  7.5
2               4.4  7.5
3               4.4  7.5
4               8.0  7.0

In [13]:
df4.to_csv('.\\datasets\\hydro_data_clean_2.csv')